doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/assets/css/main.css")
        title #{pageTitle}
    body 
        block content
    script(src="/assets/js/main.js")