extends ./base.pug

block content 
    .homeButtons
        a(href="/projects").projectsButton
            button projects
        a(href="/communities/1").communitiesButton
            button communities