doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/assets/main.css")
        title Home
    body 
        h1 Hi 
    script(src="/assets/main.js")