extends ./base.pug
include ./mixins/userRank.pug

block content 
    .home-body
        .home-container
            main
                .board
                    .first-row
                        .recruitment
                            span 멤버 구하기
                            ul
                        .community
                            span 커뮤니티
                            ul
                    .second-row
                        .user-rank
                            span 유저 랭크
                            if emptyMessage
                                span.empty-msg= emptyMessage
                            else
                                .rank-list
                                    i.fas.fa-chevron-left.left
                                    ul
                                        each element, index in userLists
                                            +rank(element, index)
                                    i.fas.fa-chevron-right.right
    script(src="/assets/js/home.js")