extends ../base.pug

block content 
    .changePassword-container
        h1.title 비밀번호 변경하기
        form(method="POST")
            input(type="password" name="current_password" placeholder="현재 비밀번호")
            input(type="password" name="new_password" placeholder="바꿀 비밀번호")
            input(type="submit" value="변경하기")