extends ../base.pug

block content 
    .changePassword-body
        .changePassword-container
            h1.title 비밀번호 변경하기
            form(method="POST" data-id=user_id)
                input(type="password" name="current_password" placeholder="현재 비밀번호" required)
                input(type="password" name="new_password" placeholder="새 비밀번호" required)
                input(type="submit" value="변경하기")
    script(src="/assets/js/changePassword.js") 