extends ../base.pug

block content 
    .findPassword-body
        .findPassword-container
            h1.title 비밀번호 찾기
            form(method="POST")
                .inputBox
                    input(name="email", placeholder="example@hufs.ac.kr" type="text", required)
                    button(type="button").check 코드 발송
                .inputBox
                    input(type="text", placeholder="코드를 적어주세요." required)
                    button(type="button").check 확인                    
                .inputBox
                    input(type="password" name="current_password" placeholder="현재 비밀번호" required)
                .inputBox
                    input(type="password" name="new_password" placeholder="새 비밀번호" required)
                button(type="submit").submit submit

    //- script(src="/assets/js.findPassword.js") 