extends ../base.pug

block content 
    .findPassword-body
        .findPassword-container
            h1.title 비밀번호 찾기
            form(method="POST")
                .inputBox.email
                    input(name="email", placeholder="가입한 메일" type="text", required)
                    button(type="button").check 확인               
                .inputBox
                    input(type="password" name="new_password" placeholder="새로운 비밀번호" required)
                button(type="submit").submit 수정
    script(src="/assets/js/findPassword.js") 