extends ../base.pug

block content
    .join-container
        h1.title 회원 가입
        form(method="POST").form
            input(placeholder="이름", name="name", type="text", required)
            input(placeholder="닉네임", name="nickname", type="text", required)  
            .email          
                input(placeholder="이메일", name="email", type="text", required)
                a(href="#") 인증하기
            input(placeholder="비밀번호", name="password", type="password", required)
            input(placeholder="학과", name="department", type="text", required)
            .phone 
                a(href="#") 휴대폰 본인인증 하기
            input(type="submit", value="가입")
        