extends ../base.pug

block content
    .join-body
        .outer-form-container
            .outer-form
                header SignUp Form
                .progress-bar 
                    .step
                        span 1
                        i.fas.fa-check
                    .step 
                        span 2
                        i.fas.fa-check
                    .step 
                        span 3
                        i.fas.fa-check
                form(action="/users/join" method="POST")
                    .page
                        .title User Info
                        .field.name
                            label 
                                i.error.fas.fa-exclamation-circle 
                                |이름(필수)
                            .inputBox
                                input(name="name", type="text", required)
                            span.text
                        .field.nickname
                            label 
                                i.error.fas.fa-exclamation-circle 
                                |닉네임(필수)
                            .inputBox
                                input(name="nickname", type="text", maxlength=11 required)
                                button(type="button").check 중복 확인
                            span.text
                        .field
                            label 재/휴학(선택)
                            select(name="absence")
                                option(value="") 선택
                                option(value="재학") 재학
                                option(value="휴학") 휴학
                        .btn
                            button(type="button").next-1 next
                    .page
                        .title Login Details 
                        .field.email                            
                            label 
                                i.error.fas.fa-exclamation-circle 
                                |학교 웹메일(필수)
                            .inputBox 
                                input(name="email", placeholder="example@hufs.ac.kr" type="text", required)
                                button(type="button").check 코드 발송
                            span.text
                        .field.code                            
                            label 
                                i.error.fas.fa-exclamation-circle 
                                |인증코드(필수)
                            .inputBox
                                input(type="text", required)
                                button(type="button").check 확인
                            span.text
                        .field.password                            
                            label 
                                i.error.fas.fa-exclamation-circle 
                                |비밀번호(필수)
                            .inputBox
                                input(name="password", type="password", required)
                                .passwordSecure
                            .indicator 
                                span.weak
                                span.medium 
                                span.strong
                            span.text                            
                        .btn
                            button(type="button").prev previous
                            button(type="button").next-2 next
                    .page
                        .title Options
                        .field
                            label pnp 가입여부(선택)
                            select(name="pnp")
                                option(value="") 선택
                                option(value="yes") 예
                                option(value="no") 아니요
                        .field
                            label github 주소(선택)
                            .inputBox
                                input(name="github_url", type="text")
                        .field
                            label 관심있는 기술(선택)
                            .column-container
                                .first-column
                                    .selection
                                        input(type="checkbox", id="web", name="web")
                                        label(for="web") 웹
                                    .selection
                                        input(type="checkbox", id="app", name="app")
                                        label(for="app") 앱
                                    .selection
                                        input(type="checkbox", id="algorithm", name="algorithm")
                                        label(for="algorithm") 알고리즘
                                .second-column
                                    .selection
                                        input(type="checkbox" id="AI" name="AI")
                                        label(for="AI") AI
                                    .selection
                                        input(type="checkbox" id="security" name="security")
                                        label(for="security") 보안
                                    .selection
                                        input(type="checkbox" id="data" name="data")
                                        label(for="data") 데이터
                        .btn
                            button(type="button").prev previous
                            button(type="button").submit submit
    script(src="/assets/js/join.js")