extends ../base.pug

block content
    .login-body
        .errorMessage(data-error=error)
        .login-form
            header Login Form
            .local
                form
                    .field.email
                        .inputBox
                            input(placeholder="example@hufs.ac.kr", name="email", type="text", required)
                            i.fas.fa-envelope.envelop-icon
                            i.error.fas.fa-exclamation-circle.err-icon
                        span.text
                    .field.password
                        .inputBox
                            input(placeholder="비밀번호", name="password", type="password", required)
                            i.fas.fa-lock.lock-icon
                            i.error.fas.fa-exclamation-circle.err-icon
                        span.text
                    .field
                        .inputBox
                            input(type="button", value="Login").submit
            .options 
                div
                    a(href="/users/join") 회원가입
                span.slash /
                div
                    a(href="#") 비밀번호 찾기
            .dividing-line
                span or
            .sns
                a(href="/api/google/login")
                    i.fab.fa-google
                    span Sign in with Google
    script(src="/assets/js/login.js")
        