.article-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;

  .article-container {
    width: 790px;
    margin: 0 100px;

    .header {
      margin-bottom: 30px;
    }

    .main {
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e3e3;
      padding: 20px;
      position: relative;

      .user {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 20px;

        &.inactive {
          pointer-events: none;
          user-select: none;
        }

        .first-column {
          margin-right: 10px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
          }
        }

        .second-column {
          .info {
            display: flex;
            align-items: flex-end;
            margin-bottom: 3px;

            & > span {
              font-size: 16px;
              font-weight: 700;
              margin-right: 3px;
            }

            .user-like {
              font-size: 12px;
              transform: translateY(-2px);

              i {
                margin-right: 3px;
                color: #ff5e57;
              }

              span {
                font-weight: 700;
                opacity: 0.7;
              }
            }
          }

          .time {
            opacity: 0.5;
            font-size: 14px;

            .day {
              margin-right: 5px;
            }
          }
        }
      }

      .title {
        font-size: 25px;
        font-weight: 700;
      }

      .contents {
        margin: 15px 0;
      }

      .icons {
        display: flex;

        div {
          &:not(:last-child) {
            margin-right: 10px;
          }

          i {
            margin-right: 4px;
          }
        }

        .like {
          color: #0652dd;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            transform: scale(1.2);
            font-weight: 700;
          }
        }

        .comment {
          color: #b53471;
        }

        .choice {
          color: #eccc68;
          cursor: pointer;
          transition: 0.2s ease;

          &:hover {
            transform: scale(1.2);
            font-weight: 700;
          }
        }

        .views {
          color: #2ecc71;
        }
      }

      .post-options {
        position: absolute;
        top: 15px;
        right: 15px;

        a {
          font-size: 13px;
          color: rgba(0, 0, 0, 0.5);

          &:first-child {
            margin-right: 15px;
          }
        }
      }
    }

    .comment {
      position: relative;
      margin-bottom: 3px;

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #e3e3e3;
        background: #f8f8f8;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40px;
        cursor: pointer;
        border: none;
        background: #3498db;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background: #298aca;
        }

        i {
          font-size: 18px;
        }
      }
    }

    .afterLogin {
      text-align: center;
      margin: 15px 0;

      a {
        color: #3057f5;
        font-weight: 700;
      }
    }

    .comment-lists {
      list-style: none;

      .comment-box {
        padding: 10px 15px 15px 15px;
        border: 1px solid #e3e3e3;
        margin-bottom: -1px;
        position: relative;

        .comment-user {
          display: flex;
          width: fit-content;
          margin-bottom: 15px;

          &.inactive {
            pointer-events: none;
            user-select: none;
          }

          .first-column {
            display: flex;
            align-items: center;
            margin-right: 10px;

            img {
              width: 30px;
              height: 30px;
              border-radius: 6px;
            }
          }

          .second-column {
            .info {
              display: flex;
              align-items: flex-end;

              & > span {
                font-size: 14px;
                font-weight: 700;
                margin-right: 3px;
              }

              .user-like {
                font-size: 10px;
                transform: translateY(-2px);

                i {
                  margin-right: 3px;
                  color: #ff5e57;
                }

                span {
                  font-weight: 700;
                  opacity: 0.7;
                }
              }
            }

            .time {
              opacity: 0.5;
              font-size: 12px;

              .day {
                margin-right: 5px;
              }
            }
          }
        }

        .content {
          display: block;

          &.hidden {
            display: none;
          }
        }

        form {
          width: 45%;
          display: block;

          &.hidden {
            display: none;
          }

          input {
            width: 100%;
            margin-bottom: 3px;

            &:not([type="submit"]) {
              border-radius: 10px;
              padding: 10px;
              border: 1px solid #e3e3e3;
              background: #f8f8f8;

              &:focus {
                border: 3px solid #3498db;
              }
            }
          }

          .btns {
            text-align: end;
            transform: translateX(-5px);

            button {
              cursor: pointer;
              margin-left: 7px;
              padding: 1px 2px;
            }
          }
        }

        .comment-options {
          position: absolute;
          top: 15px;
          right: 15px;
          display: flex;
          font-size: 13px;
          color: rgba(0, 0, 0, 0.5);

          .comment-like {
            display: block;
            color: #0652dd;

            &.hidden {
              display: none;
            }

            i {
              margin-right: 3px;
            }
          }

          .comment-like-btn,
          .comment-modify-btn {
            margin-left: 10px;
            cursor: pointer;
          }

          .comment-delete-btn {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .article-body {
    .article-container {
      margin: 0 20px;

      .header {
        margin-bottom: 20px;

        h1 {
          font-size: 20px;
        }
      }

      .main {
        .user {
          .first-column {
            img {
              width: 40px;
              height: 40px;
            }
          }

          .second-column {
            .info {
              & > span {
                font-size: 14px;
              }

              .user-like {
                font-size: 8px;
              }
            }

            .time {
              font-size: 12px;
            }
          }
        }

        .post-options {
          a {
            font-size: 13px;
          }
        }

        .title {
          font-size: 20px;
        }
      }

      .comment-lists {
        .comment-box {
          form {
            width: 100%;
          }

          .comment-options {
            .comment-like {
              margin-right: 0;
              position: absolute;
              bottom: -20px;
              right: 0;
            }
          }
        }
      }
    }
  }
}
