.recruitmentArticle-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .recruitmentArticle-container {
    .header {
      margin-bottom: 30px;
    }

    .main {
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e3e3;

      .title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 5px;
      }

      .contents {
        margin-bottom: 5px;
      }

      .icons {
        display: flex;

        .like {
          color: #0652dd;
        }

        .comment {
          color: #b53471;
        }

        .choice {
          color: #eccc68;
        }

        .views {
          color: #7bed9f;
        }
      }
    }
  }
}
