.communityBoard-container {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .write {
      background: #bbb;
      padding: 5px;
      border-radius: 5px;
      margin-left: 40px;
      cursor: pointer;
      text-decoration: none;
      color: black;
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form {
      width: 70%;
      display: flex;
      text-decoration: none;
      color: black;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgb(1 1 1 / 30%);
      border-radius: 5px;
      padding: 10px 20px;

      .contents {
        margin-left: 40px;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    .prev,
    .next {
      width: 50px;
      height: 30px;
      border-radius: 5px;
      font-size: 15px;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      outline: none;
      user-select: none;
    }

    .numbers {
      display: flex;
      justify-content: center;
      align-items: center;

      & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        border: none;
        background: #3498db;
        color: white;

        &.active {
          background: #2ecc71;
        }
      }
    }
  }

  .search {
    text-align: center;
    transform: translateY(20px);

    input {
      font-size: 20px;
      padding: 5px;
      border: 1px solid black;
      outline-color: #3498db;
    }

    i {
      position: relative;
      top: 0.5px;
      background: #3e7fe7;
      color: white;
      font-size: 20px;
      padding: 7.7px;
      cursor: pointer;
    }
  }
}
