extends ../base.pug
include ./mixins/boardForm.pug

block content 
    .communityBoard-container 
        .header
            h1.title 커뮤니티 게시판
            a(href="/communities/enrollment").write 글쓰기
        .main
            each element in articleLists 
                +post(element)          
        .pagination(data-numberofarticles = numberOfArticles, data-articlesperpage = articlesPerPage,
         data-currentpage = currentPage, data-shownbuttons = shownButtons, data-category = category,
         data-findterm = findTerm)
            button.prev Prev
            .numbers 
            button.next Next
        form(action="/communities/search/1" method="POST").search
            input(type="text" name="searchTerm" placeholder="Search...").searchBox
            button(type="submit").searchButton
                i.fas.fa-search
    script(src="/assets/js/pagination.js")