extends ../../base.pug

block content 
    .recruitmentPost-update-container 
        h1 멤버 구하기 수정하기
        form(method="POST")
            .first-row
                input(type="text" name="title" placeholder="제목" maxlength=30 required value=post.title)
                input(type="text" name="personnel" placeholder="필요 인원" maxlength=3 value=post.personnel)
            .second-row
                textarea(name="content" spellcheck="false" placeholder="내용을 입력하세요." required)=post.content
            input(type="submit" value="수정")
      
        
       
            