.homeButtons {
  display: flex;
  flex-direction: column;

  a {
    margin-bottom: 30px;

    button {
      font-size: 2em;
      cursor: pointer;
      border: none;
      outline: none;
      background: #3498db;
      color: white;
      border-radius: 5px;
      padding: 10px;
    }
  }

  .logoutButton {
    button {
      background: #e74c3c;
    }
  }
}
