// Projects
@import "projects/projects.scss";

// Recruitments
@import "projects/recruitments/board.scss";
@import "projects/recruitments/enrollment.scss";
@import "projects/recruitments/article.scss";
@import "projects/recruitments/articleUpdate.scss";

// Orders
@import "projects/orders/board.scss";
@import "projects/orders/enrollment.scss";
@import "projects/orders/article.scss";
@import "projects/orders/articleUpdate.scss";

// Communities
@import "communities/board.scss";
@import "communities/enrollment.scss";
@import "communities/article.scss";
@import "communities/articleUpdate.scss";

@import "home.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}
