@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// Categories
@import "categories/board.scss";
@import "categories/enrollment.scss";
@import "categories/article.scss";
@import "categories/articleUpdate.scss";

// Users
@import "users/join.scss";
@import "users/login.scss";
@import "users/profile.scss";
@import "users/profileUpdate.scss";
@import "users/changePassword.scss";

@import "home.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }
}
