.profile-body {
  min-height: 100vh;
  padding: 0 100px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faeeb2;

  .user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 50px 10px 40px;
    border-radius: 50px;
    background-color: white;
    line-height: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;

    a {
      &:hover {
        color: #12cbc4;
      }

      & > i {
        font-size: 15px;
        margin-right: 5px;
        transform: translateY(-2px);
      }

      & > span {
        font-size: 20px;
      }
    }

    .division {
      font-size: 25px;
      margin: 0 10px;
      opacity: 0.5;
    }
  }

  .profile-container {
    width: 530px;
    min-height: 300px;
    background-color: white;
    margin: 0 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    position: relative;

    .outer-first-column {
      min-width: 190px;
      padding: 30px 20px;
      background-color: #e06c5f;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      .first-column {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: white;

        .wrapper {
          z-index: 1;
          background-color: #bb5b4e;
          padding: 5px 15px;
          border-radius: 30px;

          span {
            white-space: nowrap;
            user-select: none;
          }
          a:hover {
            color: lightgray;
          }
        }

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 2px solid #cc8b91;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          position: relative;
        }
      }
    }

    .outer-second-column {
      width: 100%;
      position: relative;

      .second-column {
        height: 100%;
        padding: 25px 30px;

        header {
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        footer {
          font-size: 20px;
          font-weight: 700;

          span {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 10px 12px;
          }
        }
      }
    }

    .hidden-column {
      position: absolute;
      width: calc(100% - 190px);
      height: 100%;
      left: 190px;
      padding: 30px 25px;
      background-color: #e06c5f;
      color: whitesmoke;
      transform: scale(0, 1);
      transform-origin: left;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .more-information {
        display: flex;
        flex-direction: column;

        header {
          text-align: center;
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .first-row {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 5px;
          margin-bottom: 40px;

          span {
            &:nth-child(even) {
              justify-self: end;
            }

            &:last-child {
              grid-column: 1 / span 2;
            }
          }
        }

        .second-row {
          display: flex;
          justify-content: space-evenly;

          .like,
          .visit {
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 32px;

            span {
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 600;
              letter-spacing: 1px;
            }

            i {
              font-size: 25px;

              &.inactive {
                pointer-events: none;
              }
            }
          }

          .like {
            i {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .options {
    width: 530px;
    display: grid;
    justify-content: center;
    grid-template-columns: 0.5fr;
    grid-auto-flow: column;
    grid-auto-columns: 0.5fr;

    a {
      padding: 10px 50px;
      border-radius: 50px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      font-weight: 700;
      text-align: center;

      &:hover {
        color: #12cbc4;
      }
    }
  }
}

@media (max-width: 480px) {
  .profile-body {
    padding: 150px 100px;
    padding-bottom: 100px;

    .user-text {
      padding: 7px 30px;
      margin-bottom: 12px;

      a {
        & > i {
          transform: translateY(0);
        }
        & > span {
          font-size: 15px;
        }
      }
    }

    .profile-container {
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 470px;

      .outer-first-column {
        padding: 20px 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;

        .first-column {
          img {
            width: 70px;
            height: 70px;
            margin: 10px 0;
          }

          .wrapper {
            font-size: 13px;
          }
        }
      }

      .outer-second-column {
        height: 100%;

        .second-column {
          header {
            font-size: 25px;
          }
          main {
            font-size: 15px;
          }
        }
      }

      .hidden-column {
        position: absolute;
        width: 100%;
        height: calc(100% - 186px);
        top: 186px;
        left: 0;
        padding: 30px 25px;
        background-color: #e06c5f;
        color: whitesmoke;
        transform: scale(1, 0);
        transform-origin: top;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .more-information {
          header {
            font-size: 25px;
          }

          .first-row {
            font-size: 14px;
          }

          .second-row {
            .like span,
            .visit span {
              font-size: 13px;
            }

            .like i,
            .visit i {
              font-size: 20px;
            }
          }
        }
      }
    }

    .options {
      width: 300px;
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      grid-auto-columns: 1fr;
      row-gap: 10px;
    }
  }
}
