extends ../../base.pug
include ../mixins/orderBoardForm.pug

block content 
    .orderBoard-container 
        .header
            h1.title 개발 수주 게시판
            a(href="/projects/orders/enrollment").write 글쓰기
        .main
            each element in articleLists 
                +post(element)          
        .pagination(data-numberofarticles = numberOfArticles, data-articlesperpage = articlesPerPage,
         data-currentpage = currentPage, data-shownbuttons = shownButtons, data-category = `projects/${category}`,
         data-findterm = findTerm)
            button.prev Prev
            .numbers 
            button.next Next
        form(action="/projects/orders/search/1" method="POST").search
            input(type="text" name="searchTerm" placeholder="Search...").searchBox
            button(type="submit").searchButton
                i.fas.fa-search
    script(src="/assets/js/pagination.js")