extends ../base.pug

block content 
    .projects-category
        a(href="/projects/orders/1").ordersButton
            button 개발 수주 
        a(href="/projects/recruitments/1").recruitmentsButton 
            button 멤버 모집
